<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
        <ul class="social-media-list">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
        <p>
          Made with ❤ by 
          {% include icon-twitter.html username="vxhex" includeicon=false %} &amp;
          {% include icon-twitter.html username="thelowlypeon" includeicon=false %}
        </p>
      </div>
    </div>

  </div>

</footer>
